.Splash{
   width: 100%;
   height: 100vh;
   background-color: #000000 !important;
    &_body{
        width: fit-content;
        position: fixed;
        z-index: 99;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%;
        // padding: 20px;
        background: transparent;
        .cartoon{
            margin: auto;
            display: block;
            width:230px;

        }
        .blink {
            animation: blink 3s infinite;
          }
          
          @keyframes blink {
            0% {
              opacity: 1;
            }
            50% {
              opacity: 0.6;
            }
            100% {
              opacity: 1;
            }
          }
    }
}